.SignupPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 5px;
  }

.headerSignUp {
  color: cyan;
  /* font-weight: bold; */
  border: 2px solid skyblue;
  background: darkcyan;
}