
h1, h2 {
    text-align: center;
    color: cyan;
}

p {
    text-align: center;
}

form {
    color: aliceblue;
    padding: 0 20px;
}  
  
input {
    font-family: 'Josefin Sans', cursive;
    background: skyblue;
}

div.Exercise {
    border-radius: 8px;
    background: rgb(0,0,0,.5);
}